# Environment
venv/
.venv/

# (probably) data file for running benchmark binaries 
btio.full.out

# binary file of apptainer
*.sif

# log of cluster
*.log
core.*
*.out

# data file of simulation
*.dat

# Ignore common C build artifacts
*.out
a.out
*.exe
*.elf
scorep_mpi_io_sim
mpi_io_sim
