#!/usr/bin/zsh
#SBATCH --beeond
#SBATCH --exclusive

#SBATCH --job-name=recorder-{{ binary.replace('.x', '.' ~ ntasks) }}
#SBATCH --time=01:59:00
#SBATCH --output=/hpcwork/ph077533/beeond-logs/{{ binary.replace('.x', '.' ~ ntasks) }}.out

#SBATCH --ntasks={{ ntasks }}
#SBATCH --nodes=1

# Load required libs
ml purge
ml load iimpi
ml load HDF5

# Set the environment variables for tracing
export RECORDER_POSIX_TRACING=1
export RECORDER_MPIIO_TRACING=1
export RECORDER_MPI_TRACING=1
export RECORDER_HDF5_TRACING=1
export RECORDER_TRACES_DIR=$HPCWORK/recorder-results/{{ binary.replace('.x', '.' ~ ntasks) }}

# Make sure the output directory exists
[ ! -d $HPCWORK/recorder-results ] && mkdir -p $HPCWORK/recorder-results
[ ! -d $HPCWORK/beeond-logs ] && mkdir -p $HPCWORK/beeond-logs

# Copy the binary to the BeeOND filesystem
cp {{ binary_path }} $BEEOND

# Rename the binary to include the number of tasks
mv $BEEOND/{{ binary_name }} $BEEOND/{{ binary_name.replace('.x', '.' ~ ntasks) }}
LD_PRELOAD={{ library_path }} $MPIEXEC $BEEOND/{{ binary.replace('.x', '.' ~ ntasks) }}

