Jinja2
Mako
MarkupSafe
PyYAML
bokeh
cffi
contourpy
cycler
darshan
fonttools
humanize
jupyter
jupyterlab
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
prettytable
pycparser
pyparsing
python-dateutil
pytz
recorder-viz
seaborn
six
tornado
tzdata
wcwidth
xyzservices
otf2